# Specify language types for the files
*.python linguist-language=Python

# Ignore specific file types for language statistics
*.md linguist-detectable=false
*.txt linguist-detectable=false

* linguist-vendored
*.js linguist-vendored=false
